@import './variables.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    color: var(--color-stone-800);
    min-height: 100vh;
    display: flex;
}

#app {
    width: 100%;
}